doctype html
html(ng-app='app')
  head
    title= title

    link(rel='stylesheet', href='/dist/vendors.css')
    script(src='/dist/vendors.js')

    link(rel='stylesheet', href='/dist/app.css')
    script(src='/dist/app.js')
  body
    block content
